@font-face {
  font-family: 'Sarasa';
  src: url('https://kami77.oss-cn-shanghai.aliyuncs.com/font/Sarasa.ttc');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sarasa';
}
